<html>
<head>
<title>Запрос/отсылка инвайтов в Google+</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<script text='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
<script text='text/javascript' src='main.js'></script>
</head>
<body>
{{html body}}
<div id="copy">
&copy; Valentyn Shybanov - <a href='http://olostan.name/'>http://olostan.name/</a> (<a href='https://github.com/olostan/invitor'>Исходный код</a>)
<div>
</body>
</html>
